EXECUTION_MODE=development | staging | prod

POSTGRES_USER=<string>
POSTGRES_PASSWORD=<string>
POSTGRES_DB=<string>
POSTGRES_HOST=<container_name>
POSTGRES_PORT=<string>

JWT_SECRET=<algo for crypto>
JWT_EXPIRATION_MS=<ms>
JWT_REFRESH=<short string>

DOCKER_INTERNAL_PORT=<port>

SEED_ENABLED=true | false

ADMIN_PASSWORD=<string>
SUPERVISOR_PASSWORD=<string>
USER1_PASSWORD=<string>
USER2_PASSWORD=<string>

PAGINATION_METHOD=offset|cursor

TEST_USER_NAME=<string>
TEST_USER_PASSWORD=<string>
TEST_DB_NAME=<string>

FRONTEND_ORIGINS=<localhost without ssl>
